.banner {
  background-color: tan;
  color: whitesmoke;
  font-weight: 300;
  border-radius: 1em;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 17px;
  margin: 20px;
  font-size: 125%;
  font-family: sans-serif;
}

.navbar {
  background-color: #555;
  color: whitesmoke;
  font-weight: 100;
  border-radius